<ion-header>
    <ion-toolbar color ="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>    
        </ion-buttons>
        <ion-title id = "titletext">New Cardio Record</ion-title>
    </ion-toolbar>

    
                     
</ion-header>
<br>
<ion-content>
    <ion-item>
        <ion-label>Cardio Type: </ion-label>
         <ion-select [(ngModel)]="newCRecord.cardioType">
              <ion-select-option value="Walking">Walking</ion-select-option>
              <ion-select-option value="Running">Running</ion-select-option>
              <ion-select-option value="Cycling">Cycling</ion-select-option>
              <ion-select-option value="Swimming">Swimming</ion-select-option>
              <ion-select-option value="Rowing">Rowing</ion-select-option>
              <ion-select-option value="Stairs">Stairs</ion-select-option>
              <ion-select-option value="Elliptical">Elliptical</ion-select-option>
            </ion-select>    
        </ion-item>
        
        <ion-item>
            <ion-label>Distance: </ion-label>
            <ion-input [(ngModel)] = "newCRecord.distance" type="number"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label>Final Time: </ion-label>
          <ion-input [(ngModel)] ="newCRecord.completion_time" type="time" ></ion-datetime>
        </ion-item>
    
        <ion-item>
          <ion-label>Date: </ion-label>
          <ion-input [(ngModel)]="newCRecord.date" type="date"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Time: </ion-label>
            <ion-input [(ngModel)]="newCRecord.time" type="time"></ion-input>
        </ion-item>
        

      <br>
          <ion-segment display="inline">
              <ion-button display="inline" (click)="back()">Cancel</ion-button>
              <ion-button display="inline" (click)="addCRecord()">Finish</ion-button>
          </ion-segment>
     
     
     

</ion-content>
