#titletext{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
}
#sliding-item{
    background-color: white;
}
.content{
    background-color: white;
}
.record-list{
    background-color: #ffffff;
}