page-home {
    .ion-slide{
        height: 200px;
    }

    .percentage{
        color: color($colors, primary, base);
    }

    .ion-title{
        color: #037fb0;
    }

    .button{
        justify-content: center
    }
}
