<ion-header>

        <ion-button start menuToggle>
            <ion-icon name = "menu"></ion-icon>
        </ion-button>
        <ion-title text-center>
            WeightFinder
        </ion-title>
        
</ion-header>


<ion-content padding>

    <ion-row align-items-center>
        <ion-col align-self-center>
            <ion-item>
                <ion-label text-center stacked> Your One Rep Max </ion-label>
                <ion-input text-center name = "orm" type= "number" [(ngModel)] = "oneRepMax"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    
    
    <ion-button (click) = 'changeDisplay()'>Calculate</ion-button>

    <div display = "none">
        <ion-list id ="results" display = "none">
          <ion-list-header>Max Percentages</ion-list-header>
            <ion-item *ngFor= "let percent of percentages">
                <ion-label> {{percent.value}}%: {{percent.multiplier}}</ion-label>
                <ion-button (click) = "checkUpDown(percent.multiplier)">Round</ion-button>
                <p id = "round" display = "none">{{rounded}}</p>
            </ion-item>
        </ion-list>
    </div>
<!--
<ion-row>
        <ion-col text-center>
          <button ion-button (click) = "loadPercentageResultsPage()">Calculate</button>
        </ion-col>
    </ion-row>
-->
    



</ion-content>

