#calculate{
    display: block;
    background-color: darkgreen;
}
.header{
    background-color: darkgreen; 
}
.button{
    background-color: darkgreen;
}
#button{
    background-color: black;
    color: black;
    display: block;
    
}
.content{
    --ion-background-color: white;
    
}
#list-head{
    text-align: center;
}
#titletext{
    color: darkgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}