.content{
    --ion-background-color: white;
}
.slide-group{
    background-color: darkgreen;
}
#amount{
    text-align: left;
}
#button{
    background-color: darkgreen;
    color: white;
    display: block;
    
}
#header{
    text-align: center;
}
#titletext{
    color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}