<ion-tabs>
      <ion-tab tab="max-find">
        <ion-icon name = "calculator"></ion-icon>
        <ion-label>1RM</ion-label>
      </ion-tab>
      <ion-tab tab ="weight-find">
        <ion-icon name="calculator"></ion-icon>
        <ion-label>Bar Loader</ion-label>
      </ion-tab>
      <ion-tab tab="max-percentage">
        <ion-icon name ="clipboard"></ion-icon>
        <ion-label>Percentages of Max</ion-label>
      </ion-tab>
</ion-tabs>




<!--<ion-tabs tabsPlacement = "top" [selectedIndex] = "myIndex">
  <ion-tab [root] = "tab1Root" tab = "WeightFinder" tabIcon = "calculator"></ion-tab>
  <ion-tab [root] = "tab2Root" tab = "OneRepMax" tabIcon = "calculator"></ion-tab>
  <ion-tab [root] = "tab3Root" tab = "MaxPercentages" tabIcon = "clipboard"></ion-tab>
</ion-tabs> -->
