<ion-header>

    <ion-button start menuToggle>
        <ion-icon name = "menu"></ion-icon>
    </ion-button>
    <ion-title text-center>
        WeightFinder
    </ion-title>
    
</ion-header>

<ion-content padding>
  
    <ion-list>
        <ion-item>
            <ion-label text-center stacked> Enter Weight </ion-label>
            <ion-input id = "enteredWeight" text-center type= "number" name = "enteredWeight" [(ngModel)] = "userWeight" ></ion-input>
          </ion-item>
      
          <ion-item>
              <ion-label text-center stacked> Enter Number of Reps </ion-label>
              <ion-input text-center type= "number" name = "numReps" [(ngModel)] = "reps"></ion-input>
          </ion-item>      
    </ion-list>
  
    <ion-button type = "submit" (click) = "calculateMax(enteredWeight, numReps) + changeDisplay()"> Calculate </ion-button>
  
  
    <div class = "results" id = "results" display = "none">
      <h2> Your 1RM </h2>
      <p>{{oneRepMax}}</p>

    <ion-list  id = "btnList" display = "none"> <!--remember that you need id tag to control display, using getElementById() method-->
      <ion-button (click) = "loadPercentageResultsPage()"> Percentages</ion-button>
      <ion-button (click) = "loadWeightFinderPage()"> Lift It</ion-button>
    </ion-list>
    </div>

</ion-content>
