<ion-header>
    <ion-toolbar color ="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>    
        </ion-buttons>
        <ion-title id = "titletext">New Lifting Record</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
      <ion-item>
        <ion-label>Section</ion-label>
        <ion-select [(ngModel)] = "newLRecord.area">
          <ion-select-option> </ion-select-option>
          <ion-select-option>Chest</ion-select-option>
          <ion-select-option>Arms</ion-select-option>
          <ion-select-option>Legs</ion-select-option>
          <ion-select-option>Abs</ion-select-option>
          <ion-select-option>Other</ion-select-option>
        </ion-select>
      </ion-item>
      <br>
      <ion-item>
        <ion-label>Lift Name:</ion-label>
        <ion-input [(ngModel)] = "newLRecord.liftname" class="userInput" type="text" > </ion-input>
      </ion-item>
      <br>
      <ion-item>
        
        <ion-input [(ngModel)]="newLRecord.weight" class="userInput" type="number">Weight: </ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input [(ngModel)]="newLRecord.reps" class="userInput" type="number">Reps: </ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input [(ngModel)]="newLRecord.date" class="userInput" type="date">Date: </ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input [(ngModel)]="newLRecord.time" class="userInput" type="time">Time: </ion-input>
      </ion-item>
    <br>
    <ion-segment>
      <ion-button display ="inline" (click)="back()">Cancel</ion-button>
      <ion-button display="inline" type="submit" (click)="addRecord()">Finish</ion-button>
    </ion-segment>
  
</ion-content>
