<ion-header>
  <style>
    button{
      background-color: darkgreen
    }  
  </style>
    <ion-grid>
        <ion-row>
            <ion-col>
              
                <ion-button id ="button" start menuToggle>
                    <ion-icon name = "menu"></ion-icon>
                    <ion-title id="titletext"text-center>
                            LiftAssist
                    </ion-title>
                </ion-button>
                
            </ion-col>
        </ion-row>
                    
    </ion-grid>  
</ion-header>

<ion-content class= "content" padding>

  <ion-list>
      <ion-item>
          <ion-label text-center stacked>Enter Weight</ion-label>
          <ion-input text-center type = "number" #userWeight></ion-input>
        </ion-item>
      
             <ion-slides>
              <ion-slide *ngFor = "let bar of bartype">
                <ion-card id = "imgCard">
                  <ion-card-header>
                    <ion-card-title>{{bar.name}}</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                      <ion-img [src] = "bar.image"></ion-img>
                      <ion-button id = "button" (click) = setBar(bar.number)>Set Bar</ion-button>
                  </ion-card-content>
                  <ion-label>Currently Set: {{currentBarSet}}</ion-label>
                </ion-card>
          </ion-slide>
        </ion-slides>   
  </ion-list>
 
   <!--
   <ion-list>
     <ion-list-header id ="list-head" text-center>Select Bar Weight</ion-list-header>
      <ion-select [ngModel] = "bar" (change)="setBarType(bar)">
        <ion-select-option *ngFor = "let bar of bartype" [value] = "bar.weight" >
          {{bar.name}}
        </ion-select-option>
      </ion-select>
   </ion-list>
  -->
    <ion-segment>
        <ion-segment-button id = "button" (click) = loadResults(userWeight.value) >Calculate</ion-segment-button>
    </ion-segment> 
  
  






</ion-content>
