#imgCard{
    height: 250px;
    width: 250px;
}
.content{
    --ion-background-color: white;
}
#button{
    background-color: black;
    color: black;
    display: block;
}
#menu{
    align-items: center;
}
#titletext{
    color: darkgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}